body {
    margin: 0;
    padding: 0;
}

.background-image {
    background-image: url('/static/CloudQuest.png'); /* Adjust the path to your image */
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
